body{
  height: 100vh;
}
h1{
  font-weight: 400;
  font-size: 5vw;
  text-align: center;
  line-height: 1.5;
  font-family: 'Yeseva One', cursive;
}

img{
  height: 25vw;
  object-fit: cover;
  width: 15vw;
  border-radius: 25px;
  opacity: 1;
}
#images{
  display: flex;
  justify-content: center;
}
#drink:hover img{
  margin-right: -.5vw;
  opacity: 0.7;
}

#drink{
  width: 15vw;
  height: 25vw;
  margin: 2vw;
}
#drink .text{
  position: relative;
  top: -21vw;
  left: 0vw;
  width: 11vw;
  color: black;
  font-family: 'Zilla Slab', serif;
  font-size: 1.2vw;
  opacity: 0;
  word-wrap: break-word;
}

#drink:hover .text{
  opacity: 1;
}
ul p{
  font-size: 1.5vw;
  font-weight: 600;
  text-align: right;
}
